body {
    overflow-wrap: break-word;
    padding-bottom: 20px;
}

#command-name {
    font-size: 1.5em;
    margin-block-end: 4px;
}

#module-name {
    font-style: italic;
    margin-block-end: 4px;
}

select {
    color: var(--vscode-dropdown-foreground);
    background-color: var(--vscode-dropdown-background);
    border: 1px solid var(--vscode-dropdown-border);
    height: 24px;
    width: 100%;
    margin: 4px 0;
    font-family: inherit;
}

/* Hide dropdown if there is only one parameter set */
#select-parameter-set:has(> option:only-child) {
    display: none;
}

.parameter-input {
    display: flex;
    flex-wrap: wrap;
    margin: 4px 0;
}

label {
    margin: auto 4px auto 0;
}

/* Add an asterisk to the <label> if a parameter is mandatory */
label:has(+ input[required])::after {
    content: "*";
}

input[type="text"] {
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
    border: 1px solid var(--vscode-dropdown-border);
    height: 20px;
    min-width: 100px;
    flex-grow: 1;
    flex-basis: 100px;
}

input[type="checkbox"] {
    color: var(--vscode-checkbox-foreground);
    background-color: var(--vscode-checkbox-background);
    border: 1px solid var(--vscode-checkbox-border);
    height: 16px;
    width: 16px;
}

details {
    border: solid 1px var(--vscode-dropdown-border);
    padding: 4px 8px;
    margin: 8px 0;
}

/* Hide <details> element if its parameters-group is empty */
details:has(> .parameters-group:empty) {
    display: none;
}

summary {
    user-select: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: 1px solid var(--vscode-button-border, transparent);
    border-radius: 2px;
    padding: 4px 6px;
    font-family: inherit;
}

button:disabled {
    cursor: default;
    opacity: 0.4;
}

.button-primary {
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
}

.button-primary:enabled:hover {
    background-color: var(--vscode-button-hoverBackground);
}

.button-secondary {
    color: var(--vscode-button-secondaryForeground);
    background-color: var(--vscode-button-secondaryBackground);
}

.button-secondary:enabled:hover {
    background-color: var(--vscode-button-secondaryHoverBackground);
}
